<!DOCTYPE html>
<html>
    <head>
    <title>Order Confirmation</title>
        <style>
            .confirmation{
            text-align: center;
            margin-top: 100px;
            font-family:Arial,sans-serif;
            
            }
        </style>
    </head>
    <body>
        <div class="confirmation">
            <h1>Thank You!</h1>
            <p>Your order has been placed succesfully </p>
            <p> Order Number: <strong>{{ order_number }} </strong></p>
        </div>
    </body>
</html>
    
    